@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#wrapper.dark {
  background-color: #3c3c3c;
  color: #fff;
}
#wrapper.dark .bm-burger-bars {
  background: #fff;
}
#wrapper.dark .bm-menu {
  background-color: #2b2b2b;
}
#wrapper.dark .bm-cross {
  background-color: #bdc3c7;
}
#wrapper.dark .bm-item-list {
  color: #b8b7ad;
}
#wrapper.dark .bm-item-list .menu {
  border-bottom: 1px solid darkgray;
}
#wrapper.dark header,
#wrapper.dark footer {
  background-color: #2b2b2b;
  border-color: #fff;
}
#wrapper.dark .main-wrapper input,
#wrapper.dark .main-wrapper textarea,
#wrapper.dark .main-wrapper select,
#wrapper.dark .main-wrapper button {
  border: 1px solid #fff;
  background-color: #2b2b2b;
  color: #fff;
}
#wrapper.dark .main-wrapper main .folder .options {
  background-color: #3c3c3c;
  color: #fff;
  border-color: #fff;
}
#wrapper.dark .main-wrapper main .folder p {
  color: #fff;
}
#wrapper.dark .main-wrapper main .folder:hover {
  background-color: #2b2b2b;
}
#wrapper.dark .main-wrapper main .task {
  border-color: #fff;
}
#wrapper.dark .main-wrapper main .task.checked {
  opacity: 0.5;
  background-color: #a2e4a2;
  border-color: #95d695;
  color: black;
}
#wrapper.dark .main-wrapper main .task.checked .task-header {
  border-color: black;
}
#wrapper.dark .main-wrapper main .task .task-header {
  border-color: #fff;
}
#wrapper.dark .main-wrapper main .user-profile .about-and-settings h2,
#wrapper.dark .main-wrapper main .user-profile .about-and-settings .about {
  border-color: #fff;
}
#wrapper.dark .main-wrapper aside {
  background-color: #3c3c3c;
  border-color: #fff;
}
#wrapper.dark .main-wrapper aside .add-folder-form,
#wrapper.dark .main-wrapper aside .add-task-form {
  border-color: #fff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

header {
  border-bottom: 1px solid black;
}
header .container {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .site-branding {
  display: flex;
  align-items: center;
}
header .container .site-branding img {
  width: 60px;
}
header .container .site-branding h1 {
  font-size: 30px;
}
header .container .user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .container .user img {
  width: 60px;
  border-radius: 50%;
}
header .container div:last-child {
  display: none;
}

/*------------------------------------------------------------------*/
@media (max-width: 425px) {
  header .container .site-branding {
    padding-left: 30px;
  }
  header .container .site-branding img {
    width: 50px;
  }
  header .container .site-branding h1 {
    font-size: 30px;
  }
  header .container > .user, header .container > .menu {
    display: none;
  }
  header .container div:last-child {
    display: block;
  }
}
.menu nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.menu nav ul li {
  list-style: none;
}
.menu nav ul li {
  margin-right: 20px;
  cursor: pointer;
}
.menu nav ul li:last-child {
  margin-right: 0;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 30px;
  top: 30px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  top: 30px !important;
  right: 30px !important;
}
.bm-cross-button span {
  top: 0 !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: black;
  height: 24px !important;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  top: 0;
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: black;
  padding: 0.8em;
}
.bm-item-list:first-child {
  margin-top: 30px;
}
.bm-item-list .menu {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.bm-item-list .menu nav ul {
  flex-direction: column;
}
.bm-item-list .menu nav ul li {
  text-align: center;
  margin-right: 0;
  margin-bottom: 20px;
}
.bm-item-list .user {
  display: flex !important;
  flex-direction: column;
}
.bm-item-list .user-name {
  order: 2;
}
.bm-item-list .user img {
  order: 1;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.main-wrapper main {
  flex: 1 1;
  padding-top: 50px;
}
.main-wrapper main .container {
  position: relative;
}
.main-wrapper aside {
  background-color: white;
  position: relative;
  width: 25%;
  border-left: 1px solid black;
  padding: 30px 30px;
  transition: transform 0.3s;
}
.main-wrapper aside .open-btn {
  display: none;
}

/*------------------------------------------------------------------*/
@media (max-width: 425px) {
  .main-wrapper {
    flex-direction: column;
  }
  .main-wrapper main {
    padding: 50px 10px 0 10px;
    flex: 1 1 auto;
  }
  .main-wrapper aside {
    position: fixed;
    width: 95%;
    border-left: none;
    border-top: 1px solid black;
    padding: 50px 10px 0 10px;
    transition: bottom 0.3s;
  }
  .main-wrapper aside .open-btn {
    display: block;
    position: absolute;
    top: 15px;
    left: 50px;
    scale: 2;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .main-wrapper aside.folders-sidebar {
    bottom: -71px;
  }
  .main-wrapper aside.in-folder-sidebar {
    bottom: -247px;
  }
  .main-wrapper aside.tasks-sidebar {
    bottom: 16px;
  }
  .main-wrapper aside.open {
    bottom: 100px;
  }
  .main-wrapper aside.open .open-btn {
    transform: rotate(180deg);
  }
}
.user-profile .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.user-profile .user img {
  width: 80px;
  border-radius: 50%;
}
.user-profile .user .user-name {
  font-size: 30px;
}
.user-profile .about-and-settings {
  display: flex;
  justify-content: center;
}
.user-profile .about-and-settings h2 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid black;
}
.user-profile .about-and-settings .about {
  border-right: 1px solid black;
  width: 100%;
}
.user-profile .about-and-settings .about .content {
  padding: 20px;
}
.user-profile .about-and-settings .about .content p {
  margin-bottom: 10px;
}
.user-profile .about-and-settings .about .content p:last-child {
  margin-bottom: 0;
}
.user-profile .about-and-settings .settings {
  width: 100%;
}
.user-profile .about-and-settings .settings .content {
  padding: 0 20px;
}
.user-profile .about-and-settings .settings .content .theme-btn {
  display: flex;
  align-items: center;
}
.user-profile .about-and-settings .settings .content .theme-btn img {
  width: 75px;
  cursor: pointer;
}
.user-profile .about-and-settings .settings .content .logout-btn {
  display: flex;
  align-items: center;
}
.user-profile .about-and-settings .settings .content .logout-btn p {
  margin-right: 15px;
}
.user-profile .about-and-settings .settings .content .logout-btn .logout-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/*------------------------------------------------------------------*/
@media (max-width: 425px) {
  .user-profile .user {
    margin-bottom: 30px;
  }
  .user-profile .user img {
    width: 60px;
  }
  .user-profile .user .user-name {
    font-size: 20px;
  }
  .user-profile .about-and-settings {
    flex-direction: column;
  }
  .user-profile .about-and-settings h2 {
    font-size: 20px;
    border: none;
  }
  .user-profile .about-and-settings .about,
  .user-profile .about-and-settings .settings {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid black;
  }
  .user-profile .about-and-settings .about:last-child,
  .user-profile .about-and-settings .settings:last-child {
    border-bottom: none;
  }
}
.folders {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  width: fit-content;
  margin: 0 auto;
}
.folders .folder {
  width: 80px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  position: relative;
}
.folders .folder .options {
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding: 5px 10px;
  transition: opacity 0.3s;
}
.folders .folder .options form {
  margin-top: 10px;
}
.folders .folder .options form button {
  width: 100%;
  margin-bottom: 5px;
}
.folders .folder .options form button:last-child {
  margin-bottom: 0;
}
.folders .folder div {
  align-items: center;
  text-decoration: none;
  color: black;
}
.folders .folder div img {
  width: 80px;
}
.folders .folder div p {
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  text-align: center;
}
.folders .folder div form {
  text-align: center;
}
.folders .folder div form input {
  width: 75px;
  text-align: center;
  margin-bottom: 5px;
}
.folders .folder div form button {
  width: 80px;
}
.folders .folder:hover {
  background-color: #f0f0f0;
}
.folders .folder:hover .options {
  opacity: 1;
}

/*------------------------------------------------------------------*/
@media (max-width: 425px) {
  .folders {
    grid-template-columns: repeat(3, 1fr);
  }
  .folders .folder {
    width: 80px;
  }
  .folders .folder .options {
    opacity: 100;
  }
  .folders .folder div {
    align-items: center;
    text-decoration: none;
    color: black;
  }
  .folders .folder div img {
    width: 80px;
  }
  .folders .folder div p {
    font-size: 16px;
    text-align: center;
  }
  .folders .folder:hover {
    background-color: #f0f0f0;
  }
}
.in-folder-tasks {
  position: relative;
  padding: 0 10px;
}
.in-folder-tasks .back-btn {
  position: absolute;
  top: 0;
  left: 50px;
  transform: scale(2);
  cursor: pointer;
  transition: transform 0.3s;
}
.in-folder-tasks .back-btn:hover {
  transform: scale(2.5);
}
.in-folder-tasks .folder-title {
  text-align: center;
  margin-bottom: 50px;
}

.tasks {
  padding: 0 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.task.checked {
  opacity: 0.5;
  background-color: #e0ffe0;
  border-color: #00cc00;
}
.task .content {
  flex: 1 1;
}
.task .content .task-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.task .content .task-header .task-title {
  display: flex;
}
.task .content .task-header .task-title h2 {
  margin-right: 10px;
}
.task .content .task-header .task-title .priority {
  width: auto;
  height: 1.5lh;
}
.task input[type=checkbox] {
  appearance: none;
  margin-right: 20px;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid #333;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}
.task input[type=checkbox]:checked::after {
  content: "✔";
  font-size: 18px;
  color: green;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.no-tasks-label {
  text-align: center;
}

form * {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.add-folder-form,
.add-task-form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}
.add-folder-form form,
.add-task-form form {
  text-align: center;
}

.add-folder-form {
  margin-bottom: 30px;
}
.add-folder-form form input,
.add-folder-form form button {
  padding: 10px;
}
.add-folder-form form input {
  width: 95%;
  margin-bottom: 20px;
}
.add-folder-form form button {
  width: 250px;
  cursor: pointer;
}

.add-task-form {
  margin-bottom: 30px;
}
.add-task-form form input,
.add-task-form form textarea,
.add-task-form form button {
  padding: 10px;
}
.add-task-form form input,
.add-task-form form textarea {
  width: 95%;
  margin-bottom: 10px;
}
.add-task-form form select {
  margin-bottom: 20px;
}
.add-task-form form button {
  width: 250px;
  cursor: pointer;
}

.delete-tasks-form {
  margin-bottom: 30px;
}
.delete-tasks-form button {
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.login-and-register {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.login-and-register .shape {
  text-align: center;
  width: 300px;
  height: 300px;
  padding: 150px;
  margin: 0 auto;
  background: linear-gradient(45deg, #88D5BF 0%, #5D6BF8 100%);
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  z-index: 5;
  transition: all 1s ease-in-out;
  animation: morph 8s ease-in-out infinite;
}
.login-and-register .shape .login-form .form-content h2,
.login-and-register .shape .register-form .form-content h2 {
  font-size: 50px;
  color: #fff;
}
.login-and-register .shape .login-form .form-content form,
.login-and-register .shape .register-form .form-content form {
  margin: 30px 0;
}
.login-and-register .shape .login-form .form-content form input,
.login-and-register .shape .register-form .form-content form input {
  margin-bottom: 10px;
  width: 275px;
  height: 30px;
  padding-left: 10px;
  outline: none;
}
.login-and-register .shape .login-form .form-content form button,
.login-and-register .shape .register-form .form-content form button {
  margin-top: 10px;
  width: 290px;
  height: 30px;
  cursor: pointer;
}
.login-and-register .shape .login-form .form-content form input,
.login-and-register .shape .login-form .form-content form button,
.login-and-register .shape .register-form .form-content form input,
.login-and-register .shape .register-form .form-content form button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}
.login-and-register .shape .login-form .form-content form input:hover,
.login-and-register .shape .login-form .form-content form button:hover,
.login-and-register .shape .register-form .form-content form input:hover,
.login-and-register .shape .register-form .form-content form button:hover {
  background-color: #fff;
}
.login-and-register .shape .login-form .form-content p,
.login-and-register .shape .register-form .form-content p {
  color: #fff;
}
.login-and-register .shape .login-form .form-content p button,
.login-and-register .shape .register-form .form-content p button {
  cursor: pointer;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
.login-and-register .shape .login-form .form-content p button:hover,
.login-and-register .shape .register-form .form-content p button:hover {
  background-color: #fff;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, #88D5BF 0%, #5D6BF8 100%);
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    background: linear-gradient(45deg, #88D5BF 0%, #5D6BF8 100%);
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, #88D5BF 0%, #5D6BF8 100%);
  }
}
/*------------------------------------------------------------------*/
@media (max-width: 768px) {
  .login-and-register .shape .login-form .form-content h2,
  .login-and-register .shape .register-form .form-content h2 {
    font-size: 30px;
  }
}
.message-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.message-background .message-box {
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.message-background .message-box p {
  flex: 1 1;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.message-background .message-box form {
  margin: 0 auto;
  padding-bottom: 20px;
}
.message-background .message-box form button {
  width: 75px;
  height: 40px;
}

footer {
  background-color: white;
  border-top: 1px solid black;
}
footer .container {
  padding: 40px 0;
  text-align: center;
}

/*------------------------------------------------------------------*/
@media (max-width: 425px) {
  footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}