// Colors
$theme-dark: #3c3c3c;
$theme-dark-black: #2b2b2b;
$theme-light-hover: #f0f0f0;
$white: #fff;

// Gutters
$gutter: 30px;
$gutterM: 20px;
$gutterS: 10px;

// Sizes
$mobile: 480px;
$table: 720px;
$desktop: 1160px;
$desktopL: 1220px;
$desktopXL: 1440px;