@import "../global/variables";

footer {
    border-top: 1px solid black;

    .container {
        padding: 40px 0;
        text-align: center;
    }
}

/*------------------------------------------------------------------*/

@media(max-width: $mobile) {
    footer {
        z-index: 1;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}