@import "../global/variables";

form {
    * {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
    }
}

.add-folder-form,
.add-task-form {
    border: 1px solid black;
    border-radius: 5px;
    padding: $gutterM;

    form {
        text-align: center;
    }
}

.add-folder-form {
    margin-bottom: $gutter;

    form {

        input,
        button {
            padding: $gutterS;
        }

        input {
            width: 95%;
            margin-bottom: $gutterM;
        }

        button {
            width: 250px;
            cursor: pointer;
        }
    }
}

.add-task-form {
    margin-bottom: $gutter;

    form {

        input,
        textarea,
        button {
            padding: $gutterS;
        }

        input,
        textarea {
            width: 95%;
            margin-bottom: $gutterS;
        }

        select {
            margin-bottom: $gutterM;
        }

        button {
            width: 250px;
            cursor: pointer;
        }
    }
}

.delete-tasks-form {
    button {
        width: 100%;
        height: 50px;
        cursor: pointer;
    }
}

.login-and-register {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;

    .shape {
        text-align: center;
        width: 300px;
        height: 300px;
        padding: 150px;
        margin: 0 auto;
        background: linear-gradient(45deg, $green 0%, $blue 100%);
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        z-index: 5;
        transition: all 1s ease-in-out;
        animation: morph 8s ease-in-out infinite;

        .login-form,
        .register-form {
            .form-content {
                h2 {
                    font-size: 50px;
                    color: $white;
                }

                form {
                    margin: $gutter 0;

                    input {
                        margin-bottom: $gutterS;
                        width: 275px;
                        height: 30px;
                        padding-left: $gutterS;
                        outline: none;
                    }

                    button {
                        margin-top: $gutterS;
                        width: 290px;
                        height: 30px;
                        cursor: pointer;
                    }

                    input,
                    button {
                        background-color: rgba($white, 0.5);
                        border: none;
                        border-radius: 10px;
                        text-align: center;
                        transition: background-color 0.3s ease-in-out;

                        &:hover {
                            background-color: $white;
                        }
                    }
                }

                p {
                    color: $white;

                    button {
                        cursor: pointer;
                        padding: 5px;
                        background-color: rgba($white, 0.5);
                        border: none;
                        border-radius: 10px;
                        transition: background-color 0.3s ease-in-out;

                        &:hover {
                            background-color: $white;
                        }
                    }
                }
            }
        }
    }
}


@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, $green 0%, $blue 100%);
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        background: linear-gradient(45deg, $green 0%, $blue 100%);
        // background: linear-gradient(45deg, $pink 0%, $blue 100%);
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, $green 0%, $blue 100%);
    }
}

/*------------------------------------------------------------------*/

@media(max-width: $tablet) {
    .login-and-register {
        .shape {

            .login-form,
            .register-form {
                .form-content {
                    h2 {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}