@import "../global/variables";

header {
    border-bottom: 1px solid black;

    .container {
        padding: $gutter 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .site-branding {
            display: flex;
            align-items: center;

            img {
                width: 100px;
            }

            h1 {
                font-size: 50px;
            }
        }

        .user {
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
                width: 100px;
                border-radius: 50%;
            }
        }

        div:last-child {
            display: none;
        }

        // .bm-burger-button {
        //     display: none;
        // }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: $mobile) {
    header {
        .container {
            .site-branding {
                padding-left: $gutter;

                img {
                    width: 50px;
                }

                h1 {
                    font-size: 30px;
                }
            }

            &>.user,
            &>.menu {
                display: none;
            }

            div:last-child {
                display: block;
            }
        }
    }
}