@import "../global/variables";

.main-wrapper {
    display: flex;
    overflow: hidden;

    main {
        flex: 1 1;
        padding-top: 50px;

        .container {
            position: relative;
        }
    }

    aside {
        position: relative;
        width: 25%;
        border-left: 1px solid black;
        padding: $gutter $gutter;
        transition: transform 0.3s;

        .open-btn {
            display: none;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: $mobile) {
    .main-wrapper {
        flex-direction: column;

        main {
            padding: 50px $gutterS 0 $gutterS;
        }

        aside {
            width: 95%;
            border-left: none;
            border-top: 1px solid black;
            padding: 50px $gutterS 0 $gutterS;

            .open-btn {
                display: block;
                position: absolute;
                top: 15px;
                left: 50px;
                scale: 2;
                cursor: pointer;
                transition: transform 0.3s;
            }

            &.folders-sidebar,
            &.in-folder-sidebar,
            &.tasks-sidebar {
                transform: translateY(calc(100% - 50px));
            }

            &.open {
                transform: translateY(0);

                .open-btn {
                    transform: rotate(180deg);
                }
            }
        }
    }
}