@import "../global/variables";

.main-wrapper {
    main {
        flex: 1 1;
        padding-top: 50px;

        .container {
            position: relative;
        }
    }

    aside {
        background-color: white;
        position: relative;
        width: 25%;
        border-left: 1px solid black;
        padding: $gutter $gutter;
        transition: transform 0.3s;

        .open-btn {
            display: none;
        }
    }
}

/*------------------------------------------------------------------*/

@media(max-width: $mobile) {
    .main-wrapper {
        flex-direction: column;

        main {
            padding: 50px $gutterS 0 $gutterS;
            flex: 1 1 auto;
        }

        aside {
            position: fixed;

            width: 95%;
            border-left: none;
            border-top: 1px solid black;
            padding: 50px $gutterS 0 $gutterS;
            transition: bottom 0.3s;

            .open-btn {
                display: block;
                position: absolute;
                top: 15px;
                left: 50px;
                scale: 2;
                cursor: pointer;
                transition: transform 0.3s;
            }

            &.folders-sidebar {
                bottom: -71px;
            }

            &.in-folder-sidebar {
                bottom: -247px;
            }

            &.tasks-sidebar {
                bottom: 16px;
            }

            &.open {
                bottom: 100px;

                .open-btn {
                    transform: rotate(180deg);
                }
            }
        }
    }
}